.gridItemList {
  margin-top: 48px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  gap: 0.5rem;
  .gridItemListItem {
    font-size: 20px;
    line-height: 1.3;
    position: relative;
    padding: 0 3rem;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 28px;
      height: 100%;
      background-image: url("/arrow_right.svg");
      background-repeat: no-repeat;
      background-size: 1.25rem;
      background-position: 0 60%;
      display: flex;
      align-items: center;
      justify-self: center;
    }
  }
}
